.HeaderText{
 font: italic bold 45pt 'Times New Roman';
 color:#FFFFF0;
 text-shadow:white 0 0 40px,
             black 0 0 40px,
             Azure 1px 1px 0,
			 Azure -1px -1px 0, 
             Azure -1px 1px 0, 
			 Azure 1px -1px 0;
}
.ContentText{
 font: 18pt 'Times New Roman';
 font-weight: 500;
 color:white;
 text-align: justify;
 text-shadow:#696969 0 0 20px,
             #696969 0 0 20px, 
			 #696969 0 0 20px, 
			 #696969 0 0 20px,
			 white 0 0 20px,
			 black 0 0 20px;
}
.NewsHeader, .NewsText{
 border: 0px solid rgb(255, 255, 255);
 background-color: rgba(0, 0, 0, 0.3);
 text-align: justify;
}
.NewsHeader {
 font: 18pt 'Times New Roman';
 font-weight: 600;
 font-style: italic;
 padding-bottom: 10px;
 color: #F5F5DC;
 text-shadow:gray 0 0 20px,
			 white 0 0 30px,
			 yellow 0 0 40px,
			 gray 0 0 20px,
			 white 0 0 30px,
			 yellow 0 0 40px;
}
.NewsText {
 font: 14pt 'Times New Roman';
 padding-bottom: 15px;
 font-weight: 500;
 color: white;
 text-shadow:gray 0 0 20px,
			 gray 0 0 20px,
			 gray 0 0 40px;
}
.FooterText {
 font: 14pt 'Times New Roman';
 text-align: center;
 padding-top: 10px;
 font-weight: 500;
 color: white;
 text-shadow:red 0 0 20px,
			 white 0 0 20px,
			 yellow 0 0 20px,
			 white 0 0 20px,
			 white 0 0 20px,
			 white 0 0 20px,
			 red 0 0 20px,
			 yellow 0 0 20px,
			 yellow 0 0 20px,
			 yellow 0 0 20px;
}
A{
 cursor: url(./Cursor/Skyrim_Home.cur), auto;
 font: 14pt 'Times New Roman';
 color: white;
 text-shadow:red 0 0 20px,
			 white 0 0 20px,
			 yellow 0 0 20px,
			 white 0 0 20px,
			 white 0 0 20px,
			 white 0 0 20px,
			 red 0 0 20px;
}
A:hover {
 color: red;
 text-shadow:white 0 0 20px,
			 white 0 0 20px,
			 yellow 0 0 20px,
			 white 0 0 20px,
			 white 0 0 20px,
			 white 0 0 20px,
			 white 0 0 20px;
}
.ErrorText {
  color: red;
  text-shadow:red 0 0 10px,
			 yellow 0 0 20px,
			 red 0 0 30px,
			 red 0 0 40px;
}
.ResTextError {
	font-size: 12pt;
	color: red;
    text-shadow:red 0 0 10px,
			    yellow 0 0 20px,
			    red 0 0 30px,
			    red 0 0 40px;
}
.ResTextSuccess {
	font-size: 12pt;
	color: yellow;
    text-shadow:red 0 0 10px,
			    yellow 0 0 20px,
			    white 0 0 30px,
			    red 0 0 40px;
}